.h2 {
    border: 0.5px solid rgb(0, 0, 0);
    width: 50%;
    box-shadow: 4, 4, 4, 3 black;
    box-shadow: 4px 13px 53px -17px rgba(0, 0, 0, 0.6) inset;
    -webkit-box-shadow: 4px 13px 53px -17px rgba(0, 0, 0, 0.6) inset;
    -moz-box-shadow: 4px 13px 53px -17px rgba(0, 0, 0, 0.6) inset;
    border-radius: 22px;
    padding: 4px;
  }